// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-group {
  &_kidys > * {
    margin: 0 3px;
  }
}

.form-errors {
  margin-bottom: 0;
}

.card {
  &-table {
    & .card-body {
      transition: background-color .5s;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  &_kidys {
    &_theme {
      margin: 1rem auto;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
